# Created by .ignore support plugin (hsz.mobi)
/.idea/
/childnode/build/
/childnode/.gradle/
/masternode/build/
/slavenode/build/
/build/
/logs/
/out/
/tieba-analyzer.iml
/.gradle/
/redis/redis-4.0.1/
computing/build/
slave-server/build/
spider/build/
task-manager/build/
